{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-center alert alert-success" role="alert">
                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}


<div class="text-center container">
    <div  class="jumbotron jumbotron-fluid bg-dark mt-5 rounded text-center">
        <div style="justify-content: space-evenly" class="container d-flex" >
            <i class="fas fa-exclamation-triangle fa-3x text-warning"></i>
            <h1 class="text-warning">Modifier mon mot de passe</h1>
            <i class="fas fa-exclamation-triangle fa-3x text-warning"></i>
        </div>
    </div>
    <div class="container border border-primary rounded mt-5 p-3">
        {{ form_start(form) }}
        {{ form_row(form.oldPassword,{'attr':{'placeholder':'Mot de passe actuel ...'}}) }}
        {{ form_row(form.newPassword,{'attr':{'placeholder':'Nouveau mot de passe ...'}}) }}
        {{ form_row(form.newConfirmPassword,{'attr':{'placeholder':'Confirmez le nouveau mot de passe ...'}}) }}
        <button type="submit" class="btn btn-success">Modifier mon mot de passe</button>
        {{ form_end(form) }}
        </div>


</div>
{% endblock %}
